* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 20px;
}
#create-employee {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  gap: 5px;
}
#create-employee label,
#create-employee input,
#create-employee fieldset {
  width: 100%;
  text-align: left;
}
.address {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}
