* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 20px;
}
